<header>
  <ul class="nav">
    <li>
      <a href="/">News<small>Updated Daily</small></a>
    </li>
    <li>
      <a href="/about">Music<small>Updated Weekly</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
